{% extends 'links/base.html' %}
{% block content %}

<form action="{% url 'links:watch' %}" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="送信">
</form>


<table>
  <tr>
    <th>タイトル</th>
    <th>リンク</th>
    <th>カテゴリー</th>
  </tr>
  {% for link in links %}
  <tr>
    <td>{{link.title}}</td>
    <td><a href="{{link.link}}" target="_blank">{{link.link}}</a></td>
    <td>{{link.category}}</td>
  </tr>
  {% endfor %}
</table>

<form action="{% url 'links:index' %}" method="get">
  <input type="submit" value="戻る">
</form>



{% endblock %}